

exports.up = function(knex) {
    return knex.schema.createTable('organization_types', function(table) {
        table.increments('id').primary();
        table.string('organization_type').notNullable();
        table.timestamps();
    });
};

exports.down = function(knex) {
    return knex.schema.dropTableIfExists('organization_types');
};